# Dependency directories
**/node_modules/

# Local environment variables
**/backend/.env

# Production build outputs
**/dist/
**/build/

# Local message store
**/backend/messages.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
